/* Part G: Override Leaflet CSS for browser compatibility */
.leaflet-overlay-pane svg {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; 
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-drag: none; 
  pointer-events: none;
}